.avatar {
  border-radius: 10%;
  display: flex;
}

.item {
  display: flex;
  padding: 20px;
}

span {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  border-radius: 50%;
}

.is_online {
  background-color: green;
  margin-top: 39px;
}

.is_offline {
  background-color: yellow;
  margin-top: 39px;
}

.name {
  align-items: center;
  display: flex;
  margin-left: 10px;
  font-weight: 700;
}
